.slider {
    /* display: flex;
    float: left;
    position: relative;
    animation-name: slide;
    animation-duration: 12s;
    animation-iteration-count: infinite;
    transition-duration: 2s; */
    background-image: url("../images/si1.jpg");
    background-size: 100% 100%;
    animation: changeImg 35s ease infinite;
  
}


.section {
    overflow: hidden;
    justify-content: center;
    align-items: center;
    margin: 0px auto;
  }

  .img{
    width: 1200px;
  }

  
  @keyframes changeImg {
    0% {
        background-image: url("../images/si1.jpg");
    }
    12.5% {
        background-image: url("../images/si2.jpg");
    }
    25%{
        background-image: url("../images/si2-5.jpg");
    }
    37.5%{
        background-image: url("../images/si3.jpg");
    }
    50% {
        background-image: url("../images/si4.jpg");
    }
    62.5% {
        background-image: url("../images/si5.jpg");
    }
    75% {
        background-image: url("../images/si6.jpg");
    }
    87.5%{
        background-image: url("../images/si7.jpg");
    }
    100% {
        background-image: url("../images/si1.jpg");
    }

  }
